# files
.vscode
.env
.env.local
yarn.lock

# folders
build
node_modules

.idea/
.vscode/
coverage/

/target

# temporary files kept as reference for rust rewrite, will be removed eventually
/.github2
/.src2
/.test2